//====================================================================================================
.footer {
    padding: 128px 0 80px;
    @media (max-width: $md2+px) {
        padding: 64px 0;
    }
    &__conteiner {
    }

    &__top {
        display: flex;
        @media (max-width: $md3+px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__info {
        width: 273px;
        margin-right: 49px;
        @media (max-width: $md3+px) {
            order: 2;
            margin-top: 47px;
            margin-right: 0;
            text-align: center;
        }
    }

    &__logo {
        display: inline-block;
        margin-bottom: 28px;
    }

    &__text {
        line-height: 28px;
        color: #5a7184;
        margin-bottom: 32px;
    }

    &__social-list {
        display: flex;
        li {
            margin-right: 6px;
            &:last-child {
                margin-right: 0;
            }
        }
        @media (max-width: $md3+px) {
            display: inline-flex;
            margin: 0 auto;
        }
    }

    &__social {
    }

    &__row {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        grid-column-gap: 30px;
        @media (max-width: $md2+px) {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 48px;
        }
        @media (max-width: $md3+px) {
            order: 1;
            justify-content: space-between;
        }
    }

    &__item {
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #183b56;
        margin-bottom: 30px;
        @media (max-width: $md3+px) {
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__list {
        li {
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__link {
        line-height: 22px;
        color: #183b56;

        &:hover {
            text-decoration: underline;
        }
        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 20px;
            color: #183b56;
        }
    }

    &__bottom {
        text-align: center;
        margin-top: 96px;
        @media (max-width: $md2+px) {
            margin-top: 56px;
        }
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__hearth {
        display: inline-block;
        margin-bottom: 24px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__license {
        font-weight: 600;
        line-height: 22px;
        text-align: center;
    }
}

//====================================================================================================
