//<BUTTONS (a.btn+tab)>====================================================================================================
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    border: 2px solid rgb(21, 101, 216);
    border-radius: 8px;
    font-size: 1rem;
    color: rgb(21, 101, 216);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    height: 48px;
    line-height: 22px;
    @media (min-width: 992px) {
        &:hover {
        }
    }
    &._fw {
        width: 100%;
    }
    &_w {
        border: 2px solid #fff;
        color: #fff;
        position: relative;
        padding: 0 49px 0 27px;
        &::before {
            content: "";
            height: 14px;
            width: 18px;
            background: url("../img/order/Icon.svg") center/ contain no-repeat;
            position: absolute;
            right: 29px;
            top: calc(50%-18px);
        }
    }
    &_fill-blue {
        width: 100%;
        color: #fff;
        background: #1565d8;
    }
}
//</BUTTONS>====================================================================================================
//<CARD>====================================================================================================
.card {
    display: inline-grid;
    grid-template-columns: 40px auto;
    margin-bottom: 15px;
    grid-column-gap: 12px;
    @media (max-width: $md3+px) {
        display: grid;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &__picture {
    }

    &__icon {
        svg {
            height: 40px;
            width: 40px;
        }
    }

    &__block {
    }

    &__title {
        font-size: 1rem;
        font-family: $sans;
        line-height: 22px;
        font-weight: 600;
        color: #183b56;
        margin-bottom: 2px;
    }

    &__text {
        font-size: 14px;
        line-height: 20px;
        color: #5a7184;
        font-family: $sans;
    }
}
.offer__row {
    .card {
        &__picture {
        }

        &__icon {
        }

        &__block {
        }

        &__title {
        }

        &__text {
        }
    }
}
//</CARD>====================================================================================================
//<HEADING>====================================================================================================
.heading {
    &__subtitle {
    }

    &__title {
    }
}
//</HEADING>====================================================================================================
