//<BUTTONS (a.btn+tab)>====================================================================================================
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    border: 2px solid rgb(21, 101, 216);
    border-radius: 8px;
    font-size: 1rem;
    color: rgb(21, 101, 216);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    height: 48px;
    line-height: 22px;
    @media (min-width: 992px) {
        &:hover {
        }
    }
    &._fw {
        width: 100%;
    }
    &_w {
        border: 2px solid #fff;
        color: #fff;
        position: relative;
        padding: 0 49px 0 27px;
        &::before {
            content: "";
            height: 14px;
            width: 18px;
            background: url("../img/order/Icon.svg") center/ contain no-repeat;
            position: absolute;
            right: 29px;
            top: calc(50%-18px);
        }
    }
    &_fill-blue {
        width: 100%;
        color: #fff;
        background: #1565d8;
    }
}
//</BUTTONS>====================================================================================================
//<CARD>====================================================================================================
.card {
    display: inline-grid;
    grid-template-columns: 40px auto;
    margin-bottom: 15px;
    grid-column-gap: 12px;
    @media (max-width: $md3+px) {
        display: grid;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &__picture {
    }

    &__icon {
        svg {
            height: 40px;
            width: 40px;
        }
    }

    &__block {
    }

    &__title {
        font-size: 1rem;
        font-family: $sans;
        line-height: 22px;
        font-weight: 600;
        color: #183b56;
        margin-bottom: 2px;
    }

    &__text {
        font-size: 14px;
        line-height: 20px;
        color: #5a7184;
        font-family: $sans;
    }
}
.offer__row {
    .card {
        grid-column-gap: 24px;
        @media (max-width: $md2+px) {
            grid-template-columns: 1fr;
            justify-items: center;
        }
        @media (max-width: 500px) {
            margin-bottom: 40px;
        }
        &__picture {
            &_f {
                margin-bottom: -7px;
                @media (max-width: 500px) {
                    margin-bottom: 0;
                }
            }
        }

        &__icon {
            svg {
                width: 48px;
                height: 48px;
            }
        }

        &__block {
            @media (max-width: $md2+px) {
                text-align: center;
            }
        }

        &__title {
            margin-bottom: 8px;
        }

        &__text {
            font-size: 18px;
            line-height: 32px;
            color: #5a7184;
        }
    }
}
.steps {
    .card {
        &__picture {
        }

        &__icon {
        }

        &__block {
        }

        &__title {
        }

        &__text {
        }
    }
}
//</CARD>====================================================================================================
//<HEADING>====================================================================================================
.heading {
    &__subtitle {
        display: inline-block;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #36b37e;
        background-color: #ebf7f2;
        padding: 6px 16px;
        border-radius: 25px;
        margin-bottom: 16px;
    }

    &__title {
        font-family: HKGrotesk;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 0.2px;
        color: #183b56;
    }
}
.steps {
    .heading {
        text-align: center;
        max-width: 560px;
        margin: 0 auto;
        margin-bottom: 48px;
        &__subtitle {
        }

        &__title {
            margin-bottom: 16px;
        }

        &__text {
            font-size: 18px;
            line-height: 32px;
            color: #5a7184;
        }
    }
}
//</HEADING>====================================================================================================
