//====================================================================================================
.header {
	z-index: 20;
	&__content {
	}

	&__row {
		display: flex;
		justify-content: flex-end;
		position: relative;
		align-items: center;
	}

	&__logo {
		position: absolute;
		left: 0;
		@media (max-width: $md2+px) {
			left: 20px;
		}
	}

	&__menu {
		margin-right: 40px;
	}

	&__btn {
	}
	.navigation-justified .navigation-body {
		justify-content: flex-end;
	}
	.navigation-dropdown-link,
	.navigation-link,
	.navigation-link.is-active {
		font-size: 1rem;
		font-family: "Open Sans", sans-serif;
		line-height: 27.2px;
		color: $colorTitle !important;
		font-weight: 600;
		padding: 10px 20px;
		&:hover {
			color: #1565d8 !important;
			background-color: transparent;
			span {
				background: url(../img/header/arrow_b.svg) center/ contain no-repeat;
			}
		}
	}

	.submenu-indicator {
		background: url(../img/header/arrow.svg) center/ contain no-repeat;
		width: 9px;
		height: 9px;
		@media (max-width: $md2+px) {
			top: 50%;
			transform: translateY(-50%);
			right: 10px;
		}
		&::after {
			display: none;
		}
	}
	.navigation-dropdown-link {
		.submenu-indicator {
			background: url(../img/header/arrow.svg) center/ contain no-repeat;
			width: 9px;
			height: 9px;
			transform: rotate(-90deg) !important;
			font-size: 0;
			@media (max-width: $md2+px) {
				transform: rotate(0) !important;
			}
			&::after {
				display: none;
			}
		}
		font-weight: 400;
	}
	.navigation-item {
		position: relative;
	}
	@media (min-width: $md2+px) {
		.navigation-dropdown {
			box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16) !important;
			border-radius: 12px;
			width: 260px;
			z-index: 30;
			&_first {
				right: 50% !important;
				transform: translateX(50%);
			}
		}
	}

	.navigation-button-toggler {
		position: absolute;
		right: 0;
	}
}
.body-spoller {
	z-index: 10;
	width: 690px !important;
	box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16) !important;
	border-radius: 12px;
	@media (max-width: $md2+px) {
		width: auto !important;
		box-shadow: 0;
		border-radius: 0 !important;
	}
	&__row {
		display: flex;
		@media (max-width: $md2+px) {
			flex-direction: column;
		}
	}

	&__start {
		padding: 32px 32px 40px;
		border-right: 1px solid #e5eaf4;
		flex: 0 1 50%;
		.body-spoller__title {
			margin-bottom: 20px;
		}
		@media (max-width: $md2+px) {
			padding: 10px 10px 10px 20px;
		}
	}

	&__menu {
		display: flex;
		padding: 32px 32px 40px;
	}

	&__list {
		margin-right: 48px;
		&:last-child {
			margin-right: 0;
		}
		li {
			padding: 0;
			margin-bottom: 12px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__title {
		font-family: $sans;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 22px;
		color: #1565d8;
	}

	&__link {
		font-size: 1rem;
		line-height: 22px;
		color: #183b56;
		font-family: $sans;
		&:hover {
			text-decoration: underline;
		}
	}
}
