//====================================================================================================
.header {
	margin: 26px 0;
	&__content {
	}

	&__row {
		display: flex;
		justify-content: flex-end;
		position: relative;
		align-items: center;
	}

	&__logo {
		position: absolute;
		left: 0;
	}

	&__menu {
		margin-right: 40px;
	}

	&__btn {
	}
}

.menu {
	&__icon {
	}

	&__body {
	}

	&__list {
		display: flex;
		margin: 0 -25px;
		li {
			padding: 0 25px;
		}
	}

	&__link {
		font-size: 1rem;
		font-family: "Open Sans", sans-serif;
		line-height: 27.2px;
		color: $colorTitle;
		font-weight: 600;
		&:hover {
			color: #1565d8;
		}
	}
}

.btn {
	&__blue {
	}
}
.spoller {
	&__wrap {
	}
	&__block {
		position: relative;

		&:hover {
			.spoller__body {
				display: block;
			}
		}
	}
	&__title {
		position: relative;
		padding-right: 13px;
		&::before {
			content: url("../img/header/arrow.svg");
			display: inline-block;
			background: url("../img/header/arrow.svg") center/ center no-repeat;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__body {
		display: none;
		position: absolute;
		top: 30px;
		z-index: 2;
		width: 690px;
		right: 50%;
		transform: translateX(50%);
	}
}
.spoller {
	&__wrap {
	}

	&__block {
	}

	&__title {
	}

	&__body {
	}
}

.body-spoller {
	box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
	border-radius: 12px;
	&__row {
		display: flex;
	}

	&__start {
		padding: 32px 32px 40px;
		border-right: 1px solid #e5eaf4;
		flex: 0 1 50%;
		.body-spoller__title {
			margin-bottom: 20px;
		}
	}

	&__card {
	}

	&__menu {
		display: flex;
		padding: 32px 32px 40px;
	}

	&__list {
		margin-right: 18px;
		&:last-child {
			margin-right: 0;
		}
		li {
			padding: 0;
			margin-bottom: 12px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__title {
		font-family: $sans;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 22px;
		color: #1565d8;
	}

	&__link {
		line-height: 22px;
		color: #183b56;
		font-family: $sans;
		&:hover {
			text-decoration: underline;
		}
	}
}

//====================================================================================================

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
