.control {
    &__container {
    }

    &__content {
    }

    &__row {
        display: flex;
        margin: 0 -15px;
        align-items: center;
        &_show {
        }

        &_payments {
        }
    }
}

.show {
    margin-bottom: 144px;

    &__block {
        padding: 0 15px 0 0;
        flex: 0 0 50%;
    }

    &__title {
    }

    &__text {
    }

    &__row {
        display: flex;
        align-items: center;
    }

    &__play {
        display: flex;
        align-items: center;
        margin-right: 16px;
        position: relative;
        &::before {
            content: "";
            width: 48px;
            height: 48px;
            border-radius: 50px;
            border: 2px solid #cedff6;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__item {
    }

    &__subtitle {
        font-weight: 600;
        line-height: 22px;
        color: #5a7184;
        margin-bottom: 4px;
    }

    &__link {
        font-weight: 700;
        line-height: 22px;
        color: #1565d8;

        span {
            margin-left: 9px;
        }
    }

    &__picture {
        padding: 0 0 0 15px;
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
    }

    &__img {
        height: 360px;
    }
}
.payments {
    &__picture {
        padding: 0 0 0 15px;
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
    }

    &__img {
        height: 360px;
    }

    &__block {
        padding: 0 15px 0 0;
        flex: 0 0 50%;
    }

    &__title {
    }

    &__text {
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__item {
        line-height: 22px;
        color: #183b56;
        margin-bottom: 25px;
        padding-left: 36px;
        position: relative;
        &::before {
            content: "";
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: url("../../img/control/checkmark-green.svg") center/ contain no-repeat;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.show__title,
.payments__title {
    font-family: HKGrotesk;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.2px;
    color: #183b56;
    margin-bottom: 24px;
}
.show__text,
.payments__text {
    font-size: 18px;
    line-height: 32px;
    color: #5a7184;
    margin-bottom: 32px;
}
