.order {
    height: 560px;
    position: relative;
    padding: 48px 0;
    margin-bottom: 144px;
    @media (max-width: $md2+px) {
        height: 587px;
        margin-bottom: 406px;
    }
    &__container {
        position: relative;
        z-index: 2;
        padding: 0 24px !important;
        height: 100%;
    }

    &__wrap {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        position: relative;
        @media (max-width: $md2+px) {
            align-items: flex-start;
            margin-top: 38px;
        }
    }
    &__ad {
        color: #fff;
        width: 590px;
        @media (max-width: $md1+px) {
            width: 480px;
        }
        @media (max-width: $md2+px) {
            text-align: center;
            width: 100%;
        }
        @media (max-width: $md4+px) {
            text-align: left;
        }
    }

    &__title {
        font-family: HKGrotesk;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 0.2px;
        margin-bottom: 12px;
    }

    &__text {
        font-size: 20px;
        line-height: 36px;
        margin-bottom: 32px;
    }

    &__btn {
        margin-bottom: 120px;
        @media (max-width: $md2+px) {
            margin-bottom: 78px;
        }
    }

    &__list {
        display: flex;
        @media (max-width: $md2+px) {
            justify-content: center;
        }
        @media (max-width: $md4+px) {
            display: none;
        }
    }

    &__item {
        margin-right: 16px;
        padding-left: 32px;
        position: relative;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: url("../img/order/checkmark-green.svg") center/ contain no-repeat;
            width: 24px;
            height: 24px;
        }
    }

    &__form {
        position: absolute;
        top: 26%;
        right: 0;
        @media (max-width: $md2+px) {
            right: 50%;
            transform: translateX(50%);
            top: 78%;
        }
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.btn {
    &_w {
    }

    &_fill-blue {
    }
}
.form-order {
    width: 456px;
    background-color: #fff;
    box-shadow: 0px 15px 50px rgba(21, 37, 72, 0.1);
    border-radius: 8px;
    padding: 32px;
    @media (max-width: $md4+px) {
        width: 95vw;
    }
    &__title {
        font-family: HKGrotesk;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.2px;
        color: #183b56;
        margin-bottom: 8px;
    }

    &__text {
        line-height: 22px;
        color: #5a7184;
        margin-bottom: 24px;
        @media (max-width: $md4+px) {
            margin-bottom: 12px;
        }
    }
    &__input {
        position: relative;
        margin-bottom: 16px;
        &::before {
            content: "";
            position: absolute;
            left: 22px;
            top: 50%;
            transform: translateY(-50%);
            height: 18px;
            width: 12px;
            background: url("../img/order/loc.svg") center/ contain no-repeat;
        }
    }
    &__location {
        background: #ffffff;
        border: 1px solid #c3cad9;
        border-radius: 8px;
        width: 100%;
        height: 48px;
        padding: 13px 13px 13px 48px;
        font-weight: 600;
        line-height: 22px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        @media (max-width: $md3+px) {
            display: block;
        }
    }
    &__select {
        @media (max-width: $md3+px) {
            width: 100%;
        }
        &_one {
            margin-right: 16px;
            flex: 0 0 60%;
            @media (max-width: $md3+px) {
                margin-bottom: 12px;
            }
        }
        &_two {
            flex: 0 0 36%;
        }
        .select {
            &__title {
                border: 1px solid #c3cad9;
                border-radius: 8px;
            }
            &__value {
                height: 44px;
                font-weight: 600;
                line-height: 22px;
                font-size: 16px;
                color: #183b56;
                span {
                    height: 22px;
                }
                &::before {
                    background-image: url(../../img/header/arrow.svg);
                }
            }
            &__options {
                top: 35px;
            }
            &__option {
                font-weight: 400;
                line-height: 22px;
                font-size: 16px;
                color: #183b56;
            }
        }
    }

    &__subtitle {
        font-weight: 600;
        line-height: 22px;
        color: #5a7184;
        margin-bottom: 8px;
    }

    &__price {
        font-family: HKGrotesk;
        font-weight: 700;
        font-size: 48px;
        line-height: 55px;
        color: #183b56;
        margin-bottom: 22px;
    }

    &__btn {
    }
}
