.review {
    margin-bottom: 200px;
    &__container {
    }

    &__row {
        display: flex;
        align-items: center;
        @media (max-width: $md2+px) {
            flex-direction: column;
            align-items: center;
            margin: 0;
        }
    }

    &__quote {
        padding-right: 30px;
        @media (max-width: $md2+px) {
            margin-bottom: 64px;
            padding: 0;
        }
    }

    &__image {
        @media (max-width: $md2+px) {
            padding: 0;
        }
        height: 460px;
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
    }

    &__img {
        height: 460px;
        object-position: center;
        object-fit: contain;
    }
}
